/*
  CarRent CSS has been split into multiple files under /css.
  This file remains as a compatibility wrapper.
*/

@import url("css/common.css");
@import url("css/hero.css");
@import url("css/search.css");
@import url("css/cards.css");
@import url("css/forms.css");
@import url("css/tables.css");
